<template name="channel">
  <div class="wrap">
    <div id="chat">
      <header>
        {{> userColor}}
        {{> userCount}}
        {{> userLogin}}
      </header>
      <div id="messages" class="nano">
        <div class="nano-content">
          {{#each messages}}
            {{> message}}
          {{/each}}
        </div>
      </div>
      {{#if currentUser}}
        {{> messageForm}}
      {{else}}
        {{> messageFormAnon}}
      {{/if}}
    </div>
    {{> googleMaps}}
  </div>
</template>